<div class="jumbotron center">
     <h1>TechCorp</h1>
  <% if member_signed_in? %>
          # do something
     <% else %>
       <p>
         <%= link_to "Log in", new_member_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_member_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>